@CHARSET "UTF-8";

/* Sample CSS styles below */
#map {
    min-height: 400px;
    max-width: 600px;
    margin: 10px 0;
}

div#shortcode {
    font-weight: 900;
    font-size: 1.5em;
    padding: 10px 0;
}